<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
    <style>
        #head {
            top: 0px;
            color: red;
            left: 0px;
            font-family: serif;
            font-style: italic;
        }
        
        body {
            background-color: #111;
        }
    </style>

</head>

<body>

    <div class="container mt-5">
        <h2 class="text-center" id="head">
            <a href="{%url 'Home'%}" class='btn btn-warning btn-sm'>Home</a> CRUD Project

        </h2>

        {% block content %}{% endblock content %}
    </div>
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/popper.js' %}"></script>
    <script src="{% static 'enroll/js/bootstrap.js' %}"></script>

</body>

</html>