<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
    <style>
        #head {
            top: 0px;
            color: black;
        }
        
        body {
            background-color: azure;
        }
    </style>

</head>

<body>

    <div class="container mt-5">
        <h2 class="text-center" id="head">
            Function based View ModelForm CRUD Project
        </h2>
        {% block content %}{% endblock content %}
    </div>
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/popper.js' %}"></script>
    <script src="{% static 'enroll/js/bootstrap.js' %}"></script>

</body>

</html>